.chooseType-input {
  border-radius: 4px;
  background: #fff;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  font-family: Verdana;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;
}

.chooseType-percent {
  color: #701b45;
  font-family: Verdana;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.687%; /* 53.475px */
  text-transform: uppercase;
}

.withLeftArrow {
  border: 1px solid #701b45;
  color: #701b45;
  &:before {
    content: url("../../images/leftArrow.png");
    width: 26px;
    height: 26px;
  }
}

.withRightArrow {
  background: #701b45;
  &:after {
    content: url("../../images/rightArrow.png");
    width: 26px;
    height: 26px;
  }
}

.disabled {
  background: #c3c3c3;
  color: #878787;
  border: none;
  &:before {
    content: url("../../images/leftArrowDisabled.png");
    width: 26px;
    height: 26px;
  }
}

.chooseType-box {
  padding: 48px;
  border: 1px solid #701b45;
  background: #f1f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  &-input {
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #ebebeb;
    padding: 10px 16px;
    width: 100%;
  }
  .dropDown {
    border: 1px solid #bbb;
    background: #c8c8c8;
    color: #701b45;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    cursor: pointer;
    &-title:after {
        content: url('../../images/poligon.png');
        margin-left:10px;
      }
    }
}

.choosenOption {
  // background-color: #701b45;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bababa;
  padding: 4px;
  width: 32px;
  height: 32px;
  padding: 4px;
  // margin-right: 12px;
  &::after {
    // content: url('../../images/checked.png')
  }
}

.choosenOptionInput{
  width: 100%;
  height: 100%;
  background-color: #701b45;
}

.openDropdown {
    position: absolute;
    top: 45px;
    width: 25%;
    background: #d8d8d8;
    cursor: pointer;
    padding: 10px 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-label {
        padding: 0px 15px;
    }
}


.openDropdown-label:hover,
.openDropdown-label:focus {
    background-color: #701b45;
    color: #fff;
}

@media screen and (max-width: 1024px) {
  .chooseType-box {
    padding: 24px;
  }
  .chooseType-percent {
    font-size: 29px;
  }
  .openDropdown{
    width: 100%;
    top: 60px;
  }
}

