.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F0F0F1;
  gap: 72px;
  .contacts__picture {
    width: 100%;
  }
  .contacts__table {
    &-title {
      margin-bottom: 72px;
      padding: 0 20%;
    }
    &-header {

    }
    &-body {
      li {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        border-bottom: 1px solid #701B45;
        text-align: left;
        &:first-child {
          background-color: #701B45;
          color: #fff;
          font-weight: 700;
        }
        div {
          padding: 24px;
          border-left: 1px solid #701B45;
          &:last-child {
            border-right: 1px solid #701B45;
          }
          &:first-child {
            font-weight: 700;
          }
          p:not(:first-child) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
