.calculatorPage {
  height: max-content;
  position: relative;
  &_picture {
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &_container {
    height: max-content;
    background-image: url("../images/CalculatorTopImage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10%;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      padding: 48px 24px;
      background-image: unset;
      background: linear-gradient(
        85.91deg,
        #f1eff0 43.27%,
        rgba(241, 240, 238, 0) 72.07%
      );
    }
    &_sideInfo {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        width: 100%;
        button {
          font-size: 16px;
        }
      }
      &_btnsRow {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 32px;
        &_btn {
          display: flex;
          align-items: center;
          justify-content: start;
          padding-left: 24px;
          width: -webkit-fill-available;
          height: 63px;
          background-color: #fff;
          font-family: Verdana;
          font-size: 20px;
          font-weight: 700;
          color: #701b45;
        }
      }
      &_text {
        color: #424242;
        font-family: Verdana;
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 21px;
        text-align: left;
      }
      &_btn {
        width: 100%;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #701b45;
        font-family: Verdana;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  &_bottomInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 700px;
    padding: 70px;
    @media screen and (max-width: 1024px) {
      // grid-template-columns: repeat(1, 1fr);
      // grid-template-rows: auto;
      display: flex;
      flex-direction: column;
      height: unset;
      padding: 24px;
    }

    .item {
      display: flex;
      align-items: end;
      justify-content: start;
      text-align: left;
      padding: 24px;
      @media screen and (max-width: 1024px) {
        height: 224px;
      }
    }

    .item1 {
      grid-area: 1 / 1 / 3 / 2;
      background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
        linear-gradient(
          0deg,
          rgba(112, 27, 69, 0.8) 0%,
          rgba(112, 27, 69, 0.8) 100%
        ),
        url("../images/calcBottom1.png") lightgray 50% / cover no-repeat;
      @media screen and (max-width: 1024px) {
        background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
          linear-gradient(
            0deg,
            rgba(112, 27, 69, 0.8) 0%,
            rgba(112, 27, 69, 0.8) 100%
          ),
          url("../images/calcBottom1mob.png"), lightgray 50% / cover no-repeat;
      }
      p {
        color: #cfaebf;
        font-family: Verdana;
        font-size: 38px !important;
        font-weight: 400;
        font-size: 20px;
      @media screen and (max-width: 1024px) {
        font-size: 20px !important;
      }
      }
    }
    .item2 {
      grid-area: 1 / 2 / 2 / 3;
      background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
        linear-gradient(
          0deg,
          rgba(112, 27, 69, 0.8) 0%,
          rgba(112, 27, 69, 0.8) 100%
        ),
        url("../images/calcBottom2.png") lightgray 50% / cover no-repeat;
      @media screen and (max-width: 1024px) {
        background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
          linear-gradient(
            0deg,
            rgba(112, 27, 69, 0.8) 0%,
            rgba(112, 27, 69, 0.8) 100%
          ),
          url("../images/calcBottom2mob.png"), lightgray 50% / cover no-repeat;
      }
    }
    .item3 {
      grid-area: 2 / 2 / 3 / 3;
      background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
        linear-gradient(
          0deg,
          rgba(112, 27, 69, 0.8) 0%,
          rgba(112, 27, 69, 0.8) 100%
        ),
        url("../images/calcBottom3.png") lightgray 50% / cover no-repeat;
      @media screen and (max-width: 1024px) {
        background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
          linear-gradient(
            0deg,
            rgba(112, 27, 69, 0.8) 0%,
            rgba(112, 27, 69, 0.8) 100%
          ),
          url("../images/calcBottom3mob.png"), lightgray 50% / cover no-repeat;
      }
    }
    .item4 {
      grid-area: 3 / 1 / 4 / 2;
      background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
        linear-gradient(
          0deg,
          rgba(112, 27, 69, 0.8) 0%,
          rgba(112, 27, 69, 0.8) 100%
        ),
        url("../images/calcBottom4.png") lightgray 50% / cover no-repeat;
      @media screen and (max-width: 1024px) {
        background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
          linear-gradient(
            0deg,
            rgba(112, 27, 69, 0.8) 0%,
            rgba(112, 27, 69, 0.8) 100%
          ),
          url("../images/calcBottom4mob.png"), lightgray 50% / cover no-repeat;
      }
    }
    .item5 {
      grid-area: 3 / 2 / 4 / 3;
      background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
        linear-gradient(
          0deg,
          rgba(112, 27, 69, 0.8) 0%,
          rgba(112, 27, 69, 0.8) 100%
        ),
        url("../images/calcBottom5.png") lightgray 50% / contain no-repeat;
      @media screen and (max-width: 1024px) {
        background: linear-gradient(0deg, #450826 0%, rgba(112, 27, 69, 0) 100%),
          linear-gradient(
            0deg,
            rgba(112, 27, 69, 0.8) 0%,
            rgba(112, 27, 69, 0.8) 100%
          ),
          url("../images/calcBottom5mob.png"), lightgray 50% / cover no-repeat;
      }
    }
    .item2,
    .item3,
    .item4,
    .item5 {
      p {
        color: #cfaebf;
        font-family: Verdana;
        font-size: 26px !important;
        font-weight: 400;
        @media screen and (max-width: 1024px) {
          font-size: 20px !important;
        }
      }
    }

    // Here you can add different backgrounds for each item if needed
    // .item1 { background-image: url('../images/calcBottom1.png'); }
    // .item2 { background-image: url('../images/calcBottom2.png'); }
    // ... and so on for each item
  }
}
