.footer {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #292929;
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  img {
    width: 150px;
    height: 45px;
  }
  &__content-row {
    max-width: 950px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
  }
  &__content-colymn {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: left;
    &-header {
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
      display: block;
      width: 100%;
      margin-bottom: 25px;
      cursor: pointer;
    }
    .footer__item {
      color: #BDBDBD;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 834px) {
  .footer {
    &__content-row {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 32px;
    }
    .footer__item {
      display: none;
    }
    .footer__content-colymn {
      gap: 18px;
    }
    .footer__content-colymn-header {
      font-weight: 400;
      margin-bottom: unset;
      text-align: right;
    }
  }
}

@media (max-width: 390px) {
  .footer {
    &__content-row {
      display: flex;
      flex-direction: column;
    }
    .footer__item {
      display: none;
    }
    .footer__content-colymn {
      gap: 12px;
    }
    .footer__content-colymn-header {
      font-weight: 400;
      margin-bottom: unset;
      text-align: right;
    }
  }
}

