.contactsWrapper {
  position: relative;
  padding-top: 100px;
  padding: 100px 5%;
  max-width: 1200px;
  margin: 0 auto;
  height: max-content;
  color: #fff;
  &-content{
    display: flex;
  }
}

.formsInputs{
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 35px;
  &-title{
    font-size: 36px;
    color: #dddd;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    max-width: 610px;
  }
  &-name{
    display: flex;
    gap: 10px;
    div {
      // width: 280px;
    }
  }
  &-info {
    background: #fff;
    height: 38px;
    width: 100%;
    max-width: 590px;
    border-radius: 5px;
    padding: 0 10px;
  }
  &-button{
    height: 45px;
    width: 100%;
    max-width: 610px;
    background : #9cc31d;
    margin: 30px 0;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
  }
}

.description{
  margin-bottom: 15px;
  margin-top: 15px;
}

.formsInputs-name-input{
  background: #fff;
  height: 38px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  width: 280px;
}

.aboutUs{
  width: 45%;
  height: auto;
  padding: 35px;
  background: rgba(255, 255, 255, .2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &-title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  &-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &__title {
      font-size: 23px;
      font-weight: bold;
      font-style: italic;
      color : #9cc31d;
      text-decoration: underline;
    }
    &__description {
      font-size: 18px;
      display: flex;
      justify-content: center; 
      align-items: center;
      max-width: 70%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .formsInputs-name{
    flex-direction: column;
    width: 100%;
    &-input{
      max-width: 590px;
      width: 100%;
    }
  }
  .aboutUs{
    width: auto;
  }
}

@media screen and (max-width: 700px) {
  .contactsWrapper-content{
    flex-direction: column;
  }
  .formsInputs{
    width: auto;
  }
  .aboutUs{
    width: auto;
    height: 400px;
  }
}