
a,
button,
input,
select, h1,
h2,
h3,
h4,
h5,
* {
margin: 0;
padding: 0;
border: none;
text-decoration: none;
appearance: none;
background: none;
}
@font-face {
  font-family: 'Verdana';
  src: url('./fonts/Verdana-BoldItalic.eot');
  src: local('Verdana Bold Italic'), local('Verdana-BoldItalic'),
      url('./fonts/Verdana-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Verdana-BoldItalic.woff2') format('woff2'),
      url('./fonts/Verdana-BoldItalic.woff') format('woff'),
      url('./fonts/Verdana-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Verdana';
  src: url('./fonts/Verdana-Italic.eot');
  src: local('Verdana Italic'), local('Verdana-Italic'),
      url('./fonts/Verdana-Italic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Verdana-Italic.woff2') format('woff2'),
      url('./fonts/Verdana-Italic.woff') format('woff'),
      url('./fonts/Verdana-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Verdana';
  src: url('./fonts/Verdana.eot');
  src: local('Verdana'),
      url('./fonts/Verdana.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Verdana.woff2') format('woff2'),
      url('./fonts/Verdana.woff') format('woff'),
      url('./fonts/Verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana';
  src: url('./fonts/Verdana-Bold.eot');
  src: local('Verdana Bold'), local('Verdana-Bold'),
      url('./fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Verdana-Bold.woff2') format('woff2'),
      url('./fonts/Verdana-Bold.woff') format('woff'),
      url('./fonts/Verdana-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



body {
  color: var(--Grey-text, #6A6A6A);
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}


input {
  outline: none;
}

img {
  // width: 100%;
  height: auto;
}
.global-container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}


@media screen and (max-width: 1440px) {
  .global-container {
    padding: 0 72px;
  }
}

@media screen and (max-width: 834px) {
  .global-container {
    padding: 0 48px;
  }
}

@media screen and (max-width: 390px) {
  .global-container {
    padding: 0 24px;
  }
}







