.contentWrapper {
  // z-index: 1;
  position: relative;
  padding-top: 100px;
  // width: 100%;
  padding: 100px 5%;
  max-width: 1200px;
  margin: 0 auto;
  height: max-content;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  &_imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-mainImg {
      width: 100%;
    }
  }
  &_name {
    margin-top: 15px;
    color: #9cc31d;
    font-family: Raleway;
    font-size: 45px;
    font-weight: 400;
  }
  &_mainInfoBox{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: white;
    height: 100%;
    margin-top: 20px;

    &-item {
      display: flex;
      align-items: start; // center content if that's what you want
      width: 45%;
    }

    &-divider{
      width: 2px;
      background: #9CC31D;
      align-self: stretch; // make this element stretch full height of the flex container
    }
  }
  &_tacticTitle{
    color: white;
    font-family: Karantina;
    font-size: 35px;
    font-weight: 700;
    margin: 40px 0;

  }
}
.specifications-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90vw;
}

.specification {
  width: 50%;
  box-sizing: border-box;
  // padding: 10px;
  border: 1px solid #ccc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;

  // margin-bottom: 10px;
}

.specification-key {
  font-weight: bold;
  // margin-right: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 5%;
  border-right: 1px solid #ccc;

}

.specification-value {
  padding: 0 5%;
  width: 50%;
background-color: #9CC31D;
color: black;
height: 100%;
display: flex;
align-items: center;
justify-content: start;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contentWrapper{
    &_name{
      font-size: 20px;
    }
  &_mainInfoBox{
    flex-direction: column;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    &-item {
      width: 100%;
      text-align: justify;
    }
  }
  &_tacticTitle{
    font-size: 30px;
  }
  }
  .specification {
    width: 100%;
    font-size: 11px;
  }
.specification-value {
  padding: 0 2%;

}
}
